/*dark mode */
/* Variables for mobile*/
.menuSection input[type="checkbox"], .menuSection .menuIcon, .menuSection .closeMenu {
  position: absolute;
  right: 24px;
}

.menuSection input[type="checkbox"] {
  opacity: 0;
}

.menuSection input:checked ~ nav {
  display: block;
  -webkit-transition: max-width 0.3s linear;
  transition: max-width 0.3s linear;
}

.menuSection input:checked ~ #menuIcon {
  display: none;
}

.menuSection input:not(:checked) ~ #closeMenu {
  display: none;
}

nav {
  text-align: center;
  display: none;
  position: absolute;
  z-index: 2;
  top: 100px;
  bottom: 0;
  width: 100%;
  background-color: rgba(87, 46, 229, 0.9);
  opacity: 100%;
  color: #FFFFFF;
}

nav ul {
  list-style: none;
  width: 100%;
  font-size: 20px;
}

nav ul li {
  height: 70px;
  list-style: none;
  display: block;
  /* .masOpciones {
                display: none;
            } */
}

nav ul li hr {
  width: 30%;
  margin: auto;
  color: white;
  margin-top: 1em;
}

nav ul li a {
  color: #FFFFFF;
  margin-top: 40px;
  display: block;
  text-decoration: none;
}

@media all and (min-width: 376px) {
  header > .menuSection {
    width: 100%;
  }
  header > .menuSection #menuIcon, header > .menuSection #closeMenu {
    display: none;
  }
  header > .menuSection .withoutDarkMode {
    width: auto;
    height: 90px;
    position: relative;
    display: block;
    position: relative;
    top: 0;
    text-align: center;
    background-color: #FFFFFF;
    right: 100px;
  }
  header > .menuSection .withoutDarkMode ul > li {
    display: inline-block;
    padding-left: 20px;
    font-family: "Montserrat";
  }
  header > .menuSection .withoutDarkMode ul > li hr {
    display: none;
  }
  header > .menuSection .withoutDarkMode ul > li a {
    color: #572EE5;
    font-family: "Montserrat";
    font-size: 13px;
    display: inline-block;
    text-decoration: none;
    padding-left: 20px;
    margin-top: 36px;
    font-weight: bold;
  }
  header > .menuSection .withoutDarkMode ul > li a:hover {
    text-decoration: underline;
    -webkit-text-decoration-color: #5ED7C6;
            text-decoration-color: #5ED7C6;
    -webkit-text-decoration-line: solid;
            text-decoration-line: solid;
    line-height: 2px;
  }
  header > .menuSection .withoutDarkMode ul > li a:active {
    color: #9CAFC3;
  }
  header > .menuSection .withoutDarkMode ul > li .masOpciones {
    display: block;
    margin: auto;
    border-radius: 50px;
    border: 1px #572EE5 solid;
    height: 56px;
    width: 56px;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  header > .menuSection .withoutDarkMode ul > li .moreImg {
    width: 19px;
    height: 19px;
  }
  header > .menuSection .withDarkMode {
    width: auto;
    height: 90px;
    position: relative;
    display: block;
    position: relative;
    top: 0;
    text-align: center;
    background-color: #37383C;
    right: 100px;
  }
  header > .menuSection .withDarkMode ul > li {
    display: inline-block;
    padding-left: 20px;
    font-family: "Montserrat";
  }
  header > .menuSection .withDarkMode ul > li hr {
    display: none;
  }
  header > .menuSection .withDarkMode ul > li a {
    color: #FFFFFF;
    font-family: "Montserrat";
    font-size: 13px;
    display: inline-block;
    text-decoration: none;
    padding-left: 20px;
    margin-top: 36px;
    font-weight: bold;
  }
  header > .menuSection .withDarkMode ul > li a:hover {
    text-decoration: underline;
    -webkit-text-decoration-color: #5ED7C6;
            text-decoration-color: #5ED7C6;
    -webkit-text-decoration-line: solid;
            text-decoration-line: solid;
    line-height: 2px;
  }
  header > .menuSection .withDarkMode ul > li a:active {
    color: #9CAFC3;
  }
  header > .menuSection .withDarkMode ul > li .masOpciones {
    background-color: #37383C;
    display: block;
    margin: auto;
    border-radius: 50px;
    border: 1px #572EE5 solid;
    height: 56px;
    width: 56px;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  header > .menuSection .withDarkMode ul > li .moreImg {
    width: 19px;
    height: 19px;
  }
}
/*# sourceMappingURL=burgerMenu.css.map */