@import "./variables.scss";

.createGif{
    display: none;
    width: 90%;
    margin: auto;
    //border: solid 1px red;
    text-align: center;

    .containerVideo {
        width: 80%;
        margin: auto;
        //margin: auto auto auto 2.5em;
        display: flex;
        flex-wrap: wrap column;

        #ownGifContainer, #videoContainer {
            width: 688px;
            height: 380px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: solid 1px $purple;

            #internalCont{
                width: 600px;
                height: 360px;
                border: solid 1px #50E3C2;
            }

            h2{
                margin-top: 5em;
            }
        }

        #complemento{
            //background-image: linear-gradient(267deg, rgba(136,243,226,0.00) 22%, #50E3C2 100%);
            opacity: 50;
        }

        #objetosCamara{
            width: 40%;
        }
    
        #objetosCamara > #camara{
            width: 123px;
            height: 162px;
        }
    
        #objetosCamara > #camara {
            width: 91px;
            height: 151px;
        }

        .mainModalVideo, #videoGif {
            width: 480px;
            height: 320px;
            margin: auto;
            margin-top: 1em;
        }

        .mainModalVideo{
            position: relative;

            #videoGif, #modalVideo {
                position: absolute;
            }

            #modalVideo{
                opacity: 0.6;
                background: $purple;
                width: 450px;
                height: 320px;
                margin: auto;
                margin-top: 1em;

                img {
                    width: 32px;
                    height: 32px;
                }
                p {
                    font-family: Montserrat;
                    font-weight: bold;
                    font-size: 15px;
                    color: $white;
                    text-align: center;
                }
            }
        }

        label {
            position: relative;
            align-items: center;
            padding-top: 400px;
            right: 40px;
            font-family: Montserrat;
            font-weight: bold;
            font-size: 15px;
            color: $purple;
            letter-spacing: 0;
            line-height: 22px;
        }
    }

    .panelRecord{
        width: 80%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 90px;
        grid-template-rows: repeat(3, 60px);


        #stepsGif{
            margin: 2em auto 2em auto;

            grid-column: 1 / span 2;
            grid-row: 1;

            width: 20%;
            display: flex;
            flex-wrap: wrap column;
            justify-content: space-between;
        }
    
        .shortBar{
            width: 80%;
            margin: auto;
            grid-column: 1 / span 2;
            grid-row: 2;
        }
    
        #movie{
            width: 100px;
            height: 100px;
            grid-row: 1 / span 2;
            grid-column: 3;
            align-self: end;
            transform: translate(-80px, -20px);
        }   
    }

    .gridButton {
        margin: auto
    }
}

@media all and (min-width: 375px){
    .createGif{
        display: none;
    }
}