@import "./variables.scss";

.footer{
    color: #000000 ;
    width: 100%;
    min-height: 201px;
    position: absolute;

    aside{
        height: 196px; 
        display: flex;
        flex-flow: wrap column;
        justify-content: space-evenly;
        align-items: center;

        div {
            width: 50%;
            margin: 0 auto 0 auto ;
            text-align: center;

            h3{
                font-size: 15px;
            }

            .shareImages{
                margin-top: 1em;
                display: flex;
                justify-content: space-evenly;
                width: 100%;

                img{
                    width: $redesTamano;
                    height: $redesTamano;
                }
            }
        }

        p{
            font-size: 14px;
        }
        
    }
}


@media all and (min-width: 376px) {
    .footer {
        min-height: 116px;

        aside {
            flex-direction: row;
            width: 100%;
            height: 116px;
    
            div {
                width: 60%;
                margin:0;
                display: flex;
                flex-direction: row;
                align-items: center;
    
                h3 {
                    width: 100px;
                    font-size: 13px;
                }

                .shareImages{
                    width: 20%;
                    margin: 0;

                    img:hover{
                        background-color: $purple;
                    }
                }
            }
            p{
                width: 30%;
                margin:0;
                justify-items: flex-end;
                font-size: 13px;
                text-align: right;
            }
        }
    } 
}