@import './variables.scss';

.purpleBar{
    background-color: $purple;
    height: 5px;
    width: 100%;
}

.graySection{
    background-color: $grayLight;
}

.whiteSection{
    background-color: $white;
}

#mainTitle{
    width: 288px;
    height: 150px;
    margin: auto;
    font-weight: bold;
    font-size: 30px;
    color: $purple;
    text-align: center;
    line-height: 36px;

    span{
        color: $aqua;
    }
}

.secundaryTitle{
    width: 100%;
    text-align: center;
    font-size: 25px;
    color: $purple;
    line-height: 30px;
    font-family: $fuenteBody;

    span {
        color: $aqua;
    }
}

.tr

.bodyText {
    font-family: $fuenteRegular;
    font-size: 16px;
    color: $black;
    text-align: center;
    line-height: 29px;
}

.btnShowMore{
    border: solid 1px $purple;
    background-color: $white;
    border-radius: 25px;
    width: 127px;
    height: 50px;
    font-size: 13px;
    color: $purple;
    letter-spacing: 0;
    text-align: center;
    margin: 78px auto 78px auto;
    font-family: $fuenteBody;

    &:hover{
        background-color: $purple;
        color: $white;
    }
}

.btnSteps {
    border: solid 1px $purple;
    background-color: $white;
    border-radius: 32px;
    color: $purple;
    width: 32px;
    height: 32px;

    &:hover{
        background-color: $purple;
        color: $white;
    }
}

#trendingText, #lastGifText {
    width: 288px;
}


.favorites, .myGifos, .resultOfSearch{
    display: none;
}

.cardTrending{
    width: $trendingImgWidth;
    height: $trendingImgHeight;
    //margin-left: 22px;
}

.gifResult{
    width: $resultWidth;
    height: $resultHeight;
}

.noContent {
    width: 50%;
    margin:auto;
    margin-top:2.5em;
    display: none;

    div{
        margin: auto;
        border-radius: 50%;
        height: 75px;
        width: 75px;
        background-color: $grayLight;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    p{
        width: 100%;
        text-align: center;
        font-size: 15px;
        color: $aqua;
        line-height: 30px;
        font-family: $fuenteBody;
        font-weight: bold;
        margin-top: 1em;
    }
}


/* Clases para opción descarga */

#panelDescarga{
    position: relative;
    width: 50px;
    top: -7px;
    
    img, a {
        position: absolute;
    }

    a {
        z-index: 2;
        opacity: 0;
    }
}


/* Clases para el modal hover - desktop*/

@media all and (min-width: 100px) {
    .mainContainer {
        position: relative;
        width: 100%;
    }
    
    .gifResult, .imgGifItem, .cardTrending {
        position: absolute;
    }
    
    .modalView, .modalViewTrend, .modalViewFavGif{
        background-color: $purple;
        opacity: 0.7;
        position: absolute;
        z-index: 2;
        width: 100%;
        display: none;
    }
    .mainContainer, .modalView  {
        width: $resultWidth;
        height: $resultHeight;
    }

    #resultTrendingGif::-webkit-scrollbar{
        display: none;
    }

    .mainContainerTrend, .mainContFavGif {
        position: relative;
        width: 100%;
    }

    .mainContainerTrend  {
        width: $trendingImgWidth;
        height: $trendingImgHeight;
    }
    .mainContainerTrend {
        margin-left: 22px;
    }

    .modalViewTrend{
        height: $trendingImgHeight;
    }

    .mainContFavGif{
        width: 100%;
        height: $resultHeight;
    }

    .modalViewFavGif{
        height: $resultHeight;
    }
}

@media all and (min-width: 376px) {
    .mainContainer {
        position: relative;
        width: 100%;
    }
    
    .gifResult, .imgGifItem, .cardTrending {
        position: absolute;
    }
    
    .mainContainer, .modalView  {
        width: 100%;
        height: 170px;
    }

    .mainContFavGif, .modalViewFavGif {
        width: 100%;
        height: 200px;
    }

    .gifResult, .cardTrending {
        width: 100%;
        height: 100%;
    }

    .mainContainerTrend, .modalViewTrend {
        width: 243px;
        height: 200px;
    }

    .modalView, .modalViewTrend, .modalViewFavGif {
        display: flex;
        flex-direction: row;
        display: none;

        .divContNew {
            width: 100%;
            height: 5vh;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

        .divLogos{
            opacity: 0.7;
            background: #FFFFFF;
            border-radius: 6px;
            border-radius: 6px;
            width: 25px;
            height: 25px;
            margin-right: 1vw;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .descarga {
            position: relative;

            img, a {
                position: absolute;
            }
            a {
                z-index: 2;
                opacity: 0;
            }
        }

        /* #panelDescarga{
            position: relative;
            width: 50px;
            top: -7px;
            
            img, a {
                position: absolute;
            }
        
            a {
                z-index: 2;
                opacity: 0;
            }
        } */

        .imagesFunc {
            width: 18px;
            height: 18px;
        }
        .cardName {
            font-family: $fuenteHeader;
            font-weight: normal;
            font-size: 15px;
            color: $white;
            width: 80%;
            text-align: left;
            margin-left: 1.5vw;
            margin-top: 3vh;
        }
        .cardTitle {
            font-family: $fuenteHeader;
            font-weight: bold;
            font-size: 16px;
            color: $white;
            width: 80%;
            text-align: left;
            margin-left: 1.5vw;
        }
    }

}

@media all and (min-width: 700px) {
    .gifResult{
        width: 100%;
        height: 200px;
    }
}




/* Estilos para la grabacion */

#grabar, #finalizar, #videoContainer, #subir, #verMasGif, .mainModalVideo, #modalVideo, #masFavoritos {
    display: none;
}