@import './variables.scss';

.purpleBar{
    background-color: $purple;
    height: 5px;
    width: 100%;
}

.graySection{
    background-color: $grayLight;
}

.whiteSection{
    background-color: $white;
}

#mainTitle{
    width: 288px;
    height: 150px;
    margin: auto;
    font-weight: bold;
    font-size: 30px;
    color: $purple;
    text-align: center;
    line-height: 36px;

    span{
        color: $aqua;
    }
}

.secundaryTitle{
    width: 100%;
    text-align: center;
    font-size: 25px;
    color: $purple;
    line-height: 30px;
    font-family: $fuenteBody;

    span {
        color: $aqua;
    }
}

.tr

.bodyText {
    font-family: $fuenteRegular;
    font-size: 16px;
    color: $black;
    text-align: center;
    line-height: 29px;
}

.btnShowMore{
    border: solid 1px $purple;
    background-color: $white;
    border-radius: 25px;
    width: 127px;
    height: 50px;
    font-size: 13px;
    color: $purple;
    letter-spacing: 0;
    text-align: center;
    margin: 78px auto 78px auto;
    font-family: $fuenteBody;

    &:hover{
        background-color: $purple;
        color: $white;
    }
}

.btnSteps {
    border: solid 1px $purple;
    background-color: $white;
    border-radius: 32px;
    color: $purple;
    width: 32px;
    height: 32px;

    &:hover{
        background-color: $purple;
        color: $white;
    }
}

#trendingText, #lastGifText {
    width: 288px;
}


.favorites, .myGifos, .resultOfSearch{
    display: none;
}

.cardTrending{
    width: $trendingImgWidth;
    height: $trendingImgHeight;
    margin-left: 22px;
}

.gifResult{
    width: $resultWidth;
    height: $resultHeight;
}

.noContent {
    width: 50%;
    margin:auto;
    margin-top:2.5em;
    display: none;

    div{
        margin: auto;
        border-radius: 50%;
        height: 75px;
        width: 75px;
        background-color: $grayLight;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    p{
        width: 100%;
        text-align: center;
        font-size: 15px;
        color: $aqua;
        line-height: 30px;
        font-family: $fuenteBody;
        font-weight: bold;
        margin-top: 1em;
    }
}


/* Clases para opción descarga */

#panelDescarga{
    position: relative;
    width: 50px;
    top: -7px;
    
    img, a {
        position: absolute;
    }

    a {
        z-index: 2;
        opacity: 0;
    }

}


/* Clases para el modal hover - desktop*/

.cardOptions{
    background-color: $purple;
    opacity: 0.7;
    position: absolute;
    z-index: 2;
} 

.cardOptionsHidden{
    opacity: 0;
}

.cardContainer{
    position: relative;
}

/* Estilos para la grabacion */

#grabar, #finalizar, #videoContainer, #subir, #verMasGif, .mainModalVideo, #modalVideo, #masFavoritos {
    display: none;
}