@import './variables.scss';

.myGifos{
    text-align: center;

    img{
        width: $gifImgW;
        height: $genericHeightIcons;
    }

    #gifosItems{
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 156px);
        grid-column-gap: 0.5em;
        grid-row-gap: 0.5em;
        justify-content: space-between;
        margin-top: 46px;
        margin-bottom: 46px;

        .imgGifItem{
            width: $gifItemW;
            height: $genericHeightImg;
        }

    }
}

@media all and (min-width: 376px){
    .myGifos > #gifosItems {
        width: 80%;
        grid-template-columns: repeat(3, 1fr);

        .imgGifItem{
            width: 100%;
            height: 100px;
        } 
    }
}

@media all and (min-width: 700px){
    .myGifos {
        #gifosItems {
            width: 80%;
            grid-template-columns: repeat(4, 1fr);

            .imgGifItem{
                width: 100%;
                height: 200px;
            } 
        }
    }
}