$purple: #572EE5;
$white: #FFFFFF;
$grayLight: #F3F5F8;
$black: #000000;
$aqua: #50E3C2;
$lightAqua: #5ED7C6;
$grayMedium: #9CAFC3;

/*dark mode */

$darkGray: #37383C;
$strongGray:  #222326;


/* Variables for mobile*/

// Header
$headerWidth: 100%;
$headerHeight: 100px;
$logo: 48.8px;
$logoWidht: 60.8px;
$menuIconHeight: 14px;
$menuIconWidth: 15px;
$fondoMenu: rgba(87,46,229,0.90);
$logoHeightDesk: 60px;
$logoWidhtDesk: 72px;

//Content
$mainImgWidth: 273px;
$mainImgHeight: 130px;
$serchImg: 24px;
$inputHeight: 24px;
$inputwidth: 200px;
$trendingImgWidth: 243px;
$trendingImgHeight: 187px;
$favoriteImgWidth: 28px;
$imageFavoriteWidth: 158px;
$gifImgW: 23px; 
$gifItemW:156px;
$resultWidth: 156px;
$resultHeight: 120px;

$genericHeightIcons: 21px;
$genericHeightImg: 120px;

//Footer
$redesTamano: 20px;

//Tipografias
$tamanoFuente: 16px;
$tamanoTitulo: 25px;
$tamanoSubtitulo: 20px;
$menuDesktop: 13px;
$tamanoButton: 13px;
$tamanoMenu: 15px;
$fuenteHeader: 'Roboto';
$fuenteBody: 'Montserrat';
$fuenteBodyMedium: 'Montserrat';
$fuenteRegular: 'Roboto';